<div class="container">

<div id="formulario" ng-controller="SNMP_FORM">
<form ng-submit="submitForm()">
  <label for="name">ipAddress</label>
  <input type="text" name="ip_address" ng-model="formData.ip_address" ng-class="{'error' : error_ip_address}">
  <label for="email">SNMP Key</label>
  <input type="text" name="snmp_key" ng-model="formData.snmp_key" ng-class="{'error' : error_snmp_mib}">
  <label for="message">SNMP MIB</label>
  <input type="text" name="snmp_mib" value="1.1" ng-model="formData.snmp_mib" ng-class="{'error' : error_snmp_mib}">
 <label for="message">SNMP TIME TRACKING MIB</label>
  <input type="text" name="snmp_mib_time" value="SNMPv2-MIB::sysUpTime.0" ng-model="formData.snmp_mib_time" ng-class="{'error' : error_snmp_mib_time}">
 <input type="submit" value="Send!" name="submit">
  <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
</form>
<pre ng-model="result">
{{submission_result}}
</pre>
</div>

<div id="outer" ng-controller="SNMP">

<form class="well form-search">
<label>Search:</label>
<input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
<button type="submit" class="btn" ng-click="search()">Search</button>
<p class="help-block">Try for example: "php" or "angularjs" or "asdfg"</p>
</form>
<pre ng-model="result">
{{result}}
</pre>
<canvas id="updating-chart" width="1000" height="500"></canvas>
 
<script id="jsbin-source-javascript" type="text/javascript">var canvas = document.getElementById('updating-chart'),
    ctx = canvas.getContext('2d'),
    startingData = {
      labels: [1, 2, 3, 4, 5, 6, 7],
      datasets: [
          {
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              data: [65, 59, 80, 81, 56, 55, 40]
          },
          {
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              data: [28, 48, 40, 19, 86, 27, 90]
          }
      ]
    },
    latestLabel = startingData.labels[6];

// Reduce the animation steps for demo clarity.
var myLiveChart = new Chart(ctx).Line(startingData, {animationSteps: 15});


setInterval(function(){
  // Add two random numbers for each dataset
    var scope = angular.element($("#outer")).scope();
myLiveChart.addData(scope.result,  scope.result, ++latestLabel);
  // Remove the first point so we dont just add values forever
  myLiveChart.removeData();
}, 1000);
</script>

</div>
</div>  

