
<div class="container">
	<div ng-controller="snmp_controller">
		<h3>Commands</h3>
		<hr/>
		
		<h4>Data Fetching Controlls</h4>
		<button ng-click="start()">Start Fetching</button>
		<button ng-click="stop()">Stop Fetching</button>
		<hr/>
		<button ng-click="clear()">Clear Data</button>
		<hr/>
		
		
		<h4>Sample Time Controlls</h4>

		<label for="time_interval">Fecthing Interval</label>
	
		<input type="text" name="time_interval" ng-model="controlData.time_interval" ng-class="{'error' : error_time_interval}">
				ms
		&nbsp 
		<br>
		<label for="probe_interval"> Probing Interval</label>
		<input type="text" name="probe_interval" ng-model="controlData.probe_interval" ng-class="{'error' : error_probe_interval}">
		                                ms
		<button ng-click="analyse()">Auto Determine Fetching Interval</button>
	
		<hr/>
		<h4>SNMP Fields</h4>


		<label for="name">ipAddress</label>
		<input type="text" name="ip_address" ng-model="formData.ip_address" ng-class="{'error' : error_ip_address}">

		<label for="email">SNMP Key</label>
		<input type="text" name="snmp_key" ng-model="formData.snmp_key" ng-class="{'error' : error_snmp_key}">

		<hr/>
		<!--	<div class="row"> -->
		<h4>Dynamic Oid Fields</h4>


		<fieldset  data-ng-repeat="oid in formData.snmp_oids track by $index">
        <input type="text" ng-model="formData.snmp_oids[$index]"  placeholder="Enter oid number">

			<button class="remove" ng-show="$last" ng-click="removeMib()">-</button>
		</fieldset>
		<button class="addmibs" ng-click="addNewMib()">Add oid</button>

		<div id="mibDisplay">
			<h4>Generated JSON</h4>
			<hr/>
			<pre> {{ formData }} 
			</pre>	
			<h4>Returned JSON</h4>
			<hr/>
			<pre ng-model="result">{{submission_result}}
			</pre>
		</div>

		<div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
		<div ng-repeat="graph in graphs">
			<nvd3-line-chart
			data="graphData[$index]"
			id="graph_line_{{$index}}"
			height="{{graph.height}}"
			width="800"
			showxaxis="true"
			showyaxis="true"
			forcey="[0]"
			tooltips="true"
			interactive="true"
			margin="{left:50,top:50,bottom:50,right:50}"
			showlegend="true"
			legendupdatestate="false"
			objectequality="true"
			nodata="No data to present...">
			<extended-chart><svg></svg></extended-chart>
			</nvd3-line-chart>
		</div>
	</div>
</div>
